version: '3.8'

services:
  # Traefik - Proxy inverso y balanceador de carga
  traefik:
    image: traefik:v2.9
    container_name: ms-payment_traefik
    command:
      - "--api.insecure=true"  # Activa el panel de control de Traefik (opcional)
      - "--providers.docker=true"  # Habilita el proveedor de Docker
      - "--entrypoints.web.address=:80"  # Expone el puerto 80 para HTTP
    ports:
      - "110:80"   # Puerto para HTTP
      - "11080:8080"  # Puerto para el panel de Traefik (opcional)
    networks:
      - microservicios-red
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"  # Permite que Traefik lea la configuración de Docker

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: ms-payment
    container_name: ms-payment_postgres
    ports:
      - "8432:5432"
    volumes:
      - postgres_data_payment:/var/lib/postgresql/data
    networks:
      - microservicios-red
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
  db-init:
      image: postgres:15
      container_name: ms-payment_db-init
      depends_on:
        postgres:
          condition: service_healthy
      command: >
        psql -U postgres -h postgres -c "CREATE DATABASE \"ms-payment\";"
      environment:
        PGPASSWORD: 1234
      networks:
        - microservicios-red

  redis:
    image: redis:7
    container_name: ms-payment_redis
    ports:
      - "9379:6379"
    networks:
      - microservicios-red

  app:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: ms-payment_app
    environment:
      # Variables de conexión
      DATABASE_URL: postgres://postgres:1234@postgres:5432/ms-payment
      PRODUCT_SERVICE_URL: http://ms-catalog_app:4001/api/product
      PRODUCT_SERVICE_TIMEOUT: 5000
      DATABASE_POOL_MAX_CONNECTIONS: 5
      DATABASE_POOL_MIN_CONNECTIONS: 1
      DATABASE_POOL_IDLE_TIME: 600000
      DATABASE_POOL_ACQUIRE_TIMEOUT: 30000
      
      # Configuración de Redis
      REDIS_URL: redis://redis:6379
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_RETRY_DELAY: 2000
      
      # Configuración de la aplicación
      PORT: 4003
      RETRY_COUNT: 3
      RETRY_DELAY: 1000
      OUTPUT_STOCK: 2
      CACHE_EXPIRY: 3600
    volumes:
      - .:/app
    ports:
      - "5003:4003"
    command: npm run dev
    networks:
      - microservicios-red
    depends_on:
      - postgres
      - redis
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4003/api/payment"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 15s
    labels:
      - "traefik.enable=true"  # Habilita Traefik para este contenedor
      - "traefik.http.routers.app.rule=Host(localhost)"  # Define la regla para enrutar el tráfico al contenedor
      - "traefik.http.services.app.loadbalancer.server.port=4003"  # Puerto de la aplicación dentro del contenedor

  # K6
  k6:
    image: loadimpact/k6
    container_name: ms-payment_k6
    profiles: ["k6"]
    volumes:
      - ./k6:/k6
    entrypoint: ["k6", "run", "/k6/load-test.js"]
    depends_on:
      app:
        condition: service_healthy
    environment:
      - K6_TIMEOUT=30s
    networks:
      - microservicios-red
volumes:
  postgres_data_payment:
  
networks:
  microservicios-red:
    external: true